#header{
	position: absolute;
	left:42%;	
	top:10%;
	font-size: 150%;
	line-height: 60%;
}

.draggable{
	position:absolute; 
	z-index:1;
}

.button{
    padding: 10px 15px;
    background: #181818;
    color: #FFF;
    margin-left:-5px;
    margin-top:-70px;
    position:fixed;
    right:10px;
    width: 100px;
    z-index: 999;
}

#icon{
	top:20px;
	left:20px;
	position: fixed;;
	z-index: 999;
}

#enable{
	top:100px;
}

#shuffle{
	top:200px;
}

#disable{
	top:150px;
}

#deal{
	top:430px;
}

.menu{
	position: fixed;
	width: 100px;
	right:10px;
}

#peopleinput{
	top:225px;
}

#players{
	top:200px;
	font-size:20px;
	text-align: center;
}

#cards{
	top:270px;
	font-size:20px;
	text-align: center;
}

input::-webkit-input-placeholder {
   font-size: 20px;
   text-align: left;
   vertical-align: text-bottom;
}

#cardsinput{
	top:300px;
}

#border{
	position: fixed;
	height:250px;
	top:180px;
	width:110px;
	right:5px;
	border:1px solid;
	border-radius: 2px;
}