<html>
<head>
	<title>mukk</title>
	<link rel="stylesheet" type="text/css" href="../public/css/home.css">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>	
	<script src="../public/js/home/home.js"></script>
</head>
<body>
	<div class ="nav">
		<ul id="navs">
			<li>HOME</li>
			<li>CONTACT</li>
			<li>MUSE</li>
			<li>WORK</li>
			<li>FUN</li>
		</ul>
	</div>
	<div id ="home" class="story">
		<div class ="container">
			<div class="center">
				<h2>Hi, I'm Mark</h2>
				<div id="intro">
					<p>I code, cook and climb for fun. I'm also Mormon. Ask me about it or click around to get to know me a bit better.</p>
				</div>
			</div>
		</div>
	</div>
	<div id = "contact" class="story-2">
		<div class ="container">
			<div class="center">
				<h2>About</h2>
			</div>
			<div class="left" id = "map">
			</div>
			<div class="right" id ="info">
			</div>
		</div>
	</div>
	<div class="story">
		<div class ="container">

		</div>
	</div>
	<div class="story-2">
		<div class ="container">
			
		</div>
	</div>
	<div class="story">
		<div class ="container">

		</div>
	</div>
</body>
</html>