<html>
<head>
	<title>web application pitch</title>
	<style type="text/css">
	.container{
		width:75%;
		margin-left:auto;
		margin-right:auto;
		margin-top:50px;
		background-color: #ffffff;
		text-align: justify;
		min-width:500px;
	}
	.bullet{
		margin-left: 30px; 
	}
	body{
		background-color: #f8f8f8;
	}
	fieldset{
	  -moz-box-shadow:    3px 3px 5px 6px #ccc;
	  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
	  box-shadow:         3px 3px 5px 6px #ccc;
	}
	</style>
</head>
<body>
	<div class = "container">
		<fieldset style="margin-bottom:60px">
			<div style="padding:40px">
				<br>
				<span>Team: Mark Woo (Team Lead), Paula Chen</span>
				<br>
				<br>
				<br>
				<h2 style = "text-align:center">Web Application Proposal</h2>
				<h3>Pitch</h3>
				<p class = "bullet">This application will help those who have no real physical playing cards be able to play cards with each other. Often when people are travelling or in groups they either forgot or did not plan to bring cards with them. It is difficult to anticipate in advance when you will forget to bring cards. It is often more likely that each person has a smartphone or a tablet on them. People will use this app because it will provide them with a digital set of cards that can be brought up anywhere. </p>
				<h3>Description</h3>
				<p class = "bullet">The goal of the app is to have all the flexibility of having real playing cards, instead of having a strict framework in which the players have to operate in. It will be lightweight, easy to use and will support any number of players. When completed it should be able to support many types of card games, with the option to add any card game desired. It will meet the need because most people already have a smartphone on them all the time and the website will be easily accessible and the game quick to set up. </p>
				<h3>Features</h3>
					<ul>
						<li style = "font-weight:bold;line-height:200%">Features we will implement this semester</li>
						<li class = "bullet">Create a game</li>
						<li class = "bullet">Join a game</li>
						<li class = "bullet">Drag cards around the screen</li>
						<li class = "bullet">Group cards so that they can be moved together</li>
						<li class = "bullet">Tap with 2 fingers to flip cards around</li>
						<li class = "bullet">Real time updating</li>
						<li class = "bullet">Each client should be able to view both the table and his own hand</li>
						<li class = "bullet">Alternatve between hand view and table view</li>
						<li class = "bullet">Shuffle decks</li>
						<li class = "bullet">The ability to shuffle in discarded cards</li>
						<li class = "bullet">The ability for several players to join the same game</li>
						<li class = "bullet">The ability to deal n cards to m players to start a game</li>
						<li class = "bullet">The ability to draw and play a card/ multiple cards from each hand</li>
						<li class = "bullet">The ability to deal n cards to all players during game</li>
						<li style = "font-weight:bold;line-height:200%">Features we will implement in the future</li>
						<li class = "bullet">The ability to draw a card from a different players hand</li>
						<li class = "bullet">The ability to have multiple decks of cards</li>
						<li class = "bullet">The ability to have add different card images to create games</li>
						<li class = "bullet">The ability to create rules for specific games</li>
						<li class = "bullet">Password protect games</li>
						<li class = "bullet">Save games</li>
						<li class = "bullet">Log in as specific user using other services - such as Gmail or Facebook</li>
						<li class = "bullet">Game statistics</li>
						<li class = "bullet">Game specific scoring mechanisms</li>
						<li class = "bullet">Game guides</li>
						<li class = "bullet">Add avatars</li>
						<li class = "bullet">Time limits</li>
					</ul>
				<h3>Architecture</h3>
				<p class = "bullet">We will use nodejs and express for the backend and angular for the front end. Instead of html we will use jade as a template engine. We will use mongo for a database. </p>
				<h3>Interface</h3>
				<p class = "bullet">Index page which is designed to be scrollable. The five buttons in the buttom are for users to share this app to their friends though different social network.</p>
				<div style="text-align:center">
					<img src="pitchImages/index-1.png" height="250" width="500" align="middle">
					<br><br>
					<img src="pitchImages/index-2.png" height="250" width="500" align="middle">
					<br><br>
					<img src="pitchImages/index-3.png" height="250" width="500" align="middle">
					<br><br>
					<img src="pitchImages/index-4.png" height="250" width="500" align="middle">
					<br><br>
					<img src="pitchImages/index-5.png" height="250" width="500" align="middle">
					<br><br>
				</div>
				<p class = "bullet">After the users click "Play!" on the top right corner, they can either create their own games or join other user's game. The name of the game and the spaces left are shown for the games that are available.</p>
				<div style="text-align:center"><img src="pitchImages/join.png" height="250" width="500" align="middle"></div>
				<br><br>
				<p class = "bullet">After the user clicks create game or join game, a deck of cards shows up on the table. The group and upgroup buttons allow players to choose between moving the entire deck or a single card.</p>
				<div style="text-align:center"><img src="pitchImages/play.png" height="250" width="500" align="middle"></div>
				<br><br>
				<p class = "bullet">After the user clicks shuffle, the cards are shuffled. (optional)</p>
				<div style="text-align:center"><img src="pitchImages/shuffle.png" height="250" width="500" align="middle"></div>
				<br><br><br><br>
				<p class = "bullet">The user is easily able to deal out the cards by inputing the number of players (now for testing purposes, will be eiminated in the future) and the number of cards that each player will recieve. The rest of the cards that are not dealed will just be on the table. After the player clicks deal, players are able to "pick up" and "put down" their cards by simply sliding up/down on the screen in the white area. Each user can see their own hand of cards in the white area. (Please ignore the five buttons, e.g., table, player1, ..., on top, they are for testing purposes)</p>
				<div style="text-align:center">	<img src="pitchImages/hand.png" height="250" width="500" align="middle"></div>
				<br><br>
				<p class = "bullet">The rest of the cards that are not dealed will just be on the table.</p>
				<div style="text-align:center"><img src="pitchImages/deal2.png" height="250" width="500" align="middle"></div>
				<br><br>
				<p class = "bullet">When the user drags the card outside the white area, it will be shown to every other players on the table.</p>
				<div style="text-align:center">
					<img src="pitchImages/go.png" height="250" width="500" align="middle">
					<br><br>
					<img src="pitchImages/table.png" height="250" width="500" align="middle">
				</div>
				<br>
				<h3>Milestone 1</h3>
				<p class="bullet">As I am preparing to leave the country early, our team did a significant portion of this project in this milestone. We currently have our project hosted on Windows Azure and it has the ability to allow several people to join a game. Each game is independent of other games. For the front end, when a player moves a card on his screen, the movement shows up on the screens of all the other players in the game. We implemented the ability for each person to deal n number of cards to each player. Each player is only able to view the cards that are in their hand, but everyone is able to view the cards that are on the table. Each player can take a card from the table into their hand or move a card from their hand onto the table. There is also an ability to shuffle to restart the game. 
				Currently anyone is able to create a game and anyone with the link can join any game. We also did usability testing with our friends and created a list of features that are to be added. An example of such a feature would be to be able to tell which player placed a card.</p> 
				<p class = "bullet">On the back end, we keep a database of all the games that are available and the state of each card in each game. When a player joins or leaves a game, all other players in that game are notified, so each player knows the number of players in the game. We use socketio and nodejs to push notifications whenever any player makes a change on their device.</p>
				<p class = "bullet">In the next milestone we will add the ability to password protect a game and delete a game. We will also make the page where you create the game prettier. As we continue to do more testing and usability studies we will add features as demanded, bearing in mind that the app is designed to be used with a group of people who are physically together (not online) and we will thus not implement features that are strictly meant for online use, such as chatting. We also are disinclined to add rules to the app as we want it to be as free flowing as possible.</p>
				<br>
				<h3>Milestone 2</h3>
				<li class = "bullet">Added password to protect games. Must enter password to join/delete games.</li>
				<li class = "bullet">Figured out how to login with facebook. General login not implemented yet.</li>
				<li class = "bullet">Made the create/join page prettier.</li>
				<h2 style = "text-align:center">Report</h2>
				<li style = "font-weight:bold;line-height:200%">Description:</li>
				<p class = "bullet">This application will help those who have no real physical playing cards be able to play cards with each other. Often when people are travelling or in groups they either forgot or did not plan to bring cards with them. It is difficult to anticipate in advance when you will forget to bring cards. It is often more likely that each person has a smartphone or a tablet on them. People will use this app because it will provide them with a digital set of cards that can be brought up anywhere. </p>
				<p class = "bullet">We currently have our project hosted on Windows Azure and it has the ability to allow several people to join a game. Each game is independent of other games and is protected by password.</p>
				<p class = "bullet">For the front end, when a player moves a card on his screen, the movement shows up on the screens of all the other players in the game. We implemented the ability for each person to deal n number of cards to each player. Each player is only able to view the cards that are in their hand, but everyone is able to view the cards that are on the table. Each player can take a card from the table into their hand or move a card from their hand onto the table. There are also abilities to shuffle to restart the game, to group/upgroup when moving cards around, and to sort the cards in hands by number/suit.</p>
				<p class = "bullet">On the back end, we keep a database of all the games that are available and the state of each card in each game. When a player joins or leaves a game, all other players in that game are notified, so each player knows the number of players in the game. We use socketio and nodejs to push notifications whenever any player makes a change on their device.</p>
				<li style = "font-weight:bold;line-height:200%">Database Schema:</li>
				<p class = "bullet">We are using mongodb for our database. Here are our schemas.</p>
				<p class = "bullet">Game:</p>
				<p class = "bullet">{</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;_id: Number,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;name: String,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;pw: String</p>
				<p class = "bullet">}</p>
				<p class = "bullet">Card:</p>
				<p class = "bullet">{</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;_id: <ObjectId>,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;cid: String,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;card: String,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;top: Number,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;left: Number,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;z: Number,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;show: Boolean,</p>
				<p class = "bullet">&nbsp;&nbsp;&nbsp;&nbsp;gid: Number,</p>
				<p class = "bullet">}</p>
				<li style = "font-weight:bold;line-height:200%">Contributions:</li>
				<li class = "bullet">Mark: Front end
					<p class = "bullet">I implemented the front end portion of the project. This included the landing site for the page, the site which you create and join games and the actual game page itself. This involved writing the javascript to move the cards on the table and to send and handle updates from the server. I also spent time learning how to style the pages to make it look professional. I was also in charge of putting the project up on the server. This had a slight learning curve to it. I also designed the look and feel of all the webpages. </p></li>
				<li class = "bullet">Paula: Back end
					<p class = "bullet">I implemented the all APIs such as create/join/delete games including password hashing. I designed the database and implements the interactions with the mongodb. I put most of my efforts on making it a real time environment. I fisrt tried server-sent events but it seemed to push events to the clients including who sent the event, which makes the movement of the cards not smoothy. Then I tried express.io. It worked fine but I could not find out a way to keep track of the number of players in the room. I eventually used socket.io and was able to notify clients the state of room and cards. I also figured out how to login with facebook but due to the time limit, the login feature is not fully implemented yet.</p></li>
				<li style = "font-weight:bold;line-height:200%">Future Work:</li>
				<p class = "bullet">As we continue to do more testing and usability studies we will add features as demanded, bearing in mind that the app is designed to be used with a group of people who are physically together (not online) and we will thus not implement features that are strictly meant for online use, such as chatting. We also are disinclined to add rules to the app as we want.</p>
				<p class = "bullet">Features we will implement in the future:
					<li class = "bullet">Shuffle in discarded cards</li>
					<li class = "bullet">Draw a card from a different players hand</li>
					<li class = "bullet">Show which player lay down the card</li>
					<li class = "bullet">Have multiple decks of cards</li>
					<li class = "bullet">Add different card images to create games - such as UNO</li>
					<li class = "bullet">Allow user to create rules for specific games</li>
					<li class = "bullet">Save games</li>
					<li class = "bullet">Log in as specific user using other services - such as Gmail or Facebook</li>
					<li class = "bullet">Game statistics</li>
					<li class = "bullet">Game specific scoring mechanisms</li>
					<li class = "bullet">Game guides</li>
					<li class = "bullet">Add avatars</li>
					<li class = "bullet">Time limits</li></p>
			</div>
		</fieldset>
	</div>
</body>
</html>