<html ng-app>
<head>
	<title>create game</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/games.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="js/games.js"></script>
	<script>

	</script>
</head>
<body>
	<div class="container">
		<div class="middle" ng-controller="GameCtrl">
			<h2>Create Game</h2>
			<form ng-submit="addGame()">
			    <span>Game Name:</span>
			    <input ng-model="gameName" style="width:250px">
			    <br>
			    <br>
				<span>Max Players:</span>
			    <input ng-model="gameSize" style="width:50px">
				<button class="create btn" type="submit">Create Game</button>
			</form>
			<h2>Join Game</h2>
			<!-- <form ng-submit="joinGame()"> -->
				<div class="gamelist" >
			      <h3>{{games.length}} games available</h3>
			        <div class ="games" ng-repeat="game in games">
			          <span>{{game.name}}</span>
			          <span>Spaces: {{game.max-game.current}}</span>
			          <button ng-click="joinGame(game.id)" class=" join btn">Join Game</button>
			        </div>
			  	</div>
			<!-- </form> -->
		</div>
	</div>
</body>

</html>