<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>Splash</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='http://fonts.googleapis.com/css?family=Lobster+Two:700&v2' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/me.css">
  <link rel="stylesheet" ref="css/bootstrap.css">
  <link rel="img_src" href="images/icon.png" /> 

</head>

<body>

  <div id="main" role="main">

  	<div class = "topbar">
		<img src="images/icon.png" id = "icon">
		<h3 id = "title">Cardables</h3>
		<!-- <button class = "topbuttons" id = "create">Create</button> -->
		<button onclick="/play.html" class = "topbuttons" id = "join">Play</button>
  	</div>


	<!-- Section #1 / Intro -->
	<section id="first" class="story" data-speed="8" data-type="background">    	
		<article>
			<img src="images/icon.png" alt="tutorial-title" width="auto" height="auto" />
			<h2>play cards without the cards</h2>
	    </article>
	</section>

	<!-- Section #2 / Background Only -->
	<section id="second" class="storypic" data-speed="4" data-type="background">
		<article>
			<h2>Quick and Easy</h2>
		    	<p>This a brief thing about the different things you can do with this app.This a brief thing about the different things you can do with this app.</p>
		    	<p>This a brief thing about the different things you can do with this app.This a brief thing about the different things you can do with this app.</p>
		</article>
	</section>

	<section id="third" class="story" data-speed="8" data-type="background">    	
		<button class = "topbuttons" id = "create">Create</button>
		<button class = "topbuttons" id = "join">Join</button>
		<article>
			<div id = "tablettext">
				<h2>Optimized for touch</h2>
				<p id="tabletsubtext">Cardables is optimized for touch. Drag and drop any card from your hand to the table and back.</p>
				<br>
				<br>
				<p id="tabletsubtext">Hit the group button to move entire groups of cards together. Tap the cards with 2 fingers to flip the card</p>
			</div>
			<img id = "tabletimage" src="images/tablet.png" alt="tutorial-title" width="auto" height="auto" />
	    </article>
	</section>

		<!-- Section #2 / Background Only -->
	<section id="fourth" class="storypic" data-speed="4" data-type="background">
		<article>
			<h2>Take it Anywhere</h2>
		    	<p>This a brief thing about the different things you can do with this app.This a brief thing about the different things you can do with this app.</p>
		    	<p>This a brief thing about the different things you can do with this app.This a brief thing about the different things you can do with this app.</p>
		</article>
	</section>

	<section id="fifth" class="story" data-speed="8" data-type="background">    	
		<button class = "topbuttons" id = "create">Create</button>
		<button class = "topbuttons" id = "join">Join</button>
		<article>
			<a href="http://plus.google.com" target="_blank"><img  id = "plus" src="images/plus.jpg" alt="tutorial-title" width="auto" height="auto" /></a>
			<a href="http://instagram.com" target="_blank"><img  class ="share" src="images/instagram.jpg" alt="tutorial-title" width="auto" height="auto" /></a>
			<a href="/auth/facebook" target="_blank"><img  class ="share" src="images/facebook.jpg" alt="tutorial-title" width="auto" height="auto" /></a>
			<a href="http://twitter.com" target="_blank"><img  class ="share" src="images/twitter.jpg" alt="tutorial-title" width="auto" height="auto" /></a>
			<a href="http://pinterest.com" target="_blank"><img  class ="share" src="images/pinterest.jpg" alt="tutorial-title" width="auto" height="auto" /></a>
			<h2>Made for Sharing</h2>
	    </article>
	</section>
  </div> <!-- // End of #main -->

</body>
<script src="js/script.js"></script>
<script src='js/libs/jquery-1.6.1.min.js'></script>
</html>