.container{
	/*text-align: center;*/
	/*border: 1px solid;*/
}

.games{
	height:70px;
	width:auto;
}

body{
	background-image:url('../images/woodtable.jpg') !important; 
}

input::-webkit-input-placeholder {
   font-size: 20px;
   text-align: left;
   vertical-align: text-bottom;
}

.games span,
.middle span{
	font-weight: bold;
	margin-left:30px;
	margin-right: 10px;
	width:100px;
	float:left;
}

.container h3{
	line-height: 200%;
}

.container .gameslist{
	text-align: left;
}

.container h2,
.container h3{
	text-align: center;
}

.middle{
	margin-top: 70px;
	width:40%;
	margin-left: auto;
	margin-right: auto;
	border:1px solid;
	min-width: 500px;
	background-color: white;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
	border-radius: 10px;
	border: 2px solid;
}

.create,
.join{
	margin-right:29px;
	float:right;
	margin-top: -3px;
}

.middle h1{
	font-family: 'Lobster Two'
}

#icon{
	top:20px;
	left:20px;
	position: fixed;;
	z-index: 999;
}