body{
	margin: 0px;
}

li{
	font-family:'Quicksand' sans-serif;
}

.container{
	margin:0 auto;
	min-width: 680px;
	width: 80%;
	overflow: auto;
}

.nav{
	position: fixed;
	width:200px;
}

.story{
	height:600px;
	background-color:#fff9ef;
}

.story-2{
	height:600px;
	background:url(../images/home/stardust.png);
}

.center{
	margin:0 auto;
	text-align: center;
}

.nav ul{
	margin-top: 30px;
	list-style-type: none;
}

.nav li{
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	cursor: pointer;
}

#home h2{
	margin-top: 18%;
	font-size: 100px;
	font-family: 'Rock Salt', cursive;
}

#home p{
	font-size: 20px;
	font-family: 'Quicksand' sans-serif;
}

#home #intro{
	margin: 0 auto;
	margin-top: -100px;
	width:550px;
}