/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */

h3{
	font-family: 'Lobster Two';
	display: inline;
	font-size: 30px;
}

article h2 { font-family: 'Lobster Two'; font-size: 60px; margin: 25px 0; line-height: 1em; }

.story { padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}
.storypic { height: 400px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

#first {height: 700px;}
#third {height: 700px;}
#fifth {height:500px;}


/* Introduction */
#first article { width: 100%; top: 150px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

/* Background Only */
#second, #fourth { padding: 50px 0;}
#second article{ 
	background: url(../images/grain.png) repeat #333;
	color: #fff; width: 445px; margin-left: 100px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#second article p , #fourth article p { margin-bottom: 25px; }
#second article a, , #fourth article a { color: #ff0;}
#second { background: url(../images/cardables.png) 80% 0 no-repeat fixed; }



#third article { width: 100%; position: absolute; text-align: right; }
#third #tabletimage{top:40px; right:200px;display: inline; position: absolute;}
#third #tablettext{position: absolute;top:130px;left:200px;text-align:left;width:500px;}
#third #tabletsubtext{position: relative;font-size: 20px;padding-top: 20px;width: 400px;left:50px;}

#fourth { background: url(../images/holiday.png) 80% 0 no-repeat fixed; }
#fourth article { 
	background: url(../images/grain.png) repeat #333;
	color: #fff; width: 445px; margin-left: 800px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); 
}

#fifth article { width: 100%; top: 150px; position: absolute; text-align: center; }
#fifth h2{margin-top: 55px;}

